@import url('https://fonts.googleapis.com/css2?family=Material+Icons&family=Material+Icons+Round');
@import url('//fonts.googleapis.com/earlyaccess/notosansthaiui.css');
@import url('//fonts.googleapis.com/earlyaccess/notoserifthai.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-thumbd-orange-primary: #f2652b;
    --color-thumbd-orange-secondary: #fcc355;
    --color-thumbd-blue-primary: #2b95d1;
    --color-thumbd-blue-secondary: #a7dadd;
  }
}
